# Ignorar absolutamente todo por defecto
*

# Exceptuar el propio .gitignore
!.gitignore

# Exceptuar la carpeta 'functions' y TODO su contenido
!functions/
!functions/**

# Incluir basura dentro de 'functions'
functions/**/__pycache__/
functions/**/*.pyc

# Exceptuar archivo .toml
!pyproject.toml
